<!-- include 'header' -->
<body>
	<div class="warpContent">
		<form id="form" name="form" action="/searchClient" method="post">
			<legend><a href="/" class="fR">首页</a>通讯录</legend>
			<div class="control-group">
              <label class="control-label">输入客户名/单位名</label>
              <div class="controls">
                <input  class="text" type="text" name="search">
              </div>
		    </div>
		    <div class="control-group">
              <div class="controls">
		   		 <input type="submit" value="搜索" class="button">
              </div>
            </div>
         </form>
	</div>
</body>