<!DOCTYPE html>
<html lang=zh-cn> 
<head>
	<meta charset=utf-8> 
	<title>CLD.System</title> 
	<link rel="shortcut icon" href="images/favicon.ico"> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name=copyright content=smartcost.com.cn> 
	<link rel=stylesheet href=css/global.css>
</head>
<body>
	<div class="warpContent">
			<legend><a href="clientSearch.html" class="fR">返回搜索</a>通讯录</legend>
			<div class="tabList">
				<a href="clientDetail.html">客户信息</a><a class="now"  href="clientRecord.html">服务记录</a></a>
			</div>
			<div class="tabContent">
				<div class="tabItem clentRecord">
					<div class="recordEntry clearfix">
						<a href="clientRecordEdit.html" class="button">添加记录</a>
					</div>
					<div class="recordEntry">
						<ul>
							<li>2013-9-01</li>
							<li><i  class="icon iconService"></i></a>上门服务</li>
							<li>广东办<a href="#">刘飞</a></li>
							<li>
								1-给彭工更新了软件程序，安装演示了软。<br>
								2-单位彭工要考甲乙级考试，给他带了资料过去。<br>
								3-表示论文发表评职称也可以随时联系我。<br>
							</li>
						<ul>
					</div>
					<div class="recordEntry">
						<ul>
							<li><i  class="icon iconPhone"></i>电话拜访</li>
							<li>2013-9-01</li>
							<li>重庆办<a href="#">李清学</a></li>
							<li>
								内容<br>
							</li>
						<ul>
					</div>
					<div class="recordEntry">
						<ul>
							<li><i class="icon iconOther"></i>其他</li>
							<li>2013-9-01</li>
							<li>广东办<a href="#">刘飞</a></li>
							<li>
								内容<br>
							</li>
						<ul>
					</div>
				</div>
			</div>
	</div>
</body>