<!DOCTYPE html>
<html lang=zh-cn> 
<head>
	<meta charset=utf-8> 
	<title>CLD.System</title> 
	<link rel="shortcut icon" href="images/favicon.ico"> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name=copyright content=smartcost.com.cn> 
	<link rel=stylesheet href=css/global.css>
</head>
<body>
	<div class="warpContent">
			<legend><a href="clientSearch.html" class="fR">返回搜索</a>通讯录</legend>
			<div class="tabList">
				<a class="now" href="clientDetail.html">客户信息</a><a   href="clientRecord.html">服务记录</a></a>
			</div>
			<div class="tabContent">
				<div class="tabItem clientList">
					<div class="clientEntry">
		  				<table>
		  				<tbody>
		  					<tr><th>姓名</th><td><input type="text" value="张三"></td></tr>
		  					<tr><th>性别</th><td><select><option>男</option><option>女</option></select></td></tr>
		  					<tr><th>昵称</th><td><input type="text" value="X工"></td></tr>
		  					<tr><th>手机</th><td><input type="text" value="12345678910"></td></tr>
		  					<tr><th>电话</th><td><input type="text" value="0000-564645654"></td></tr>
		  					<tr><th>QQ</th><td><input type="text" value="123123213"></td></tr>
		  					<tr><th>邮箱</th><td><input type="text" value="123456@qq.com"></td></tr>
		  					<tr><td colspan="2">
		  						<label><span class="contactsTag tagCol-01"><input type="checkbox">标签1</span></label>
		  						<label><span class="contactsTag tagCol-02"><input type="checkbox">标签2</span></label>
		  						<label><span class="contactsTag tagCol-03"><input type="checkbox">标签3</span></label>
		  						<label><span class="contactsTag tagCol-04"><input type="checkbox">标签4</span></label>
		  						<label><span class="contactsTag tagCol-05"><input type="checkbox">标签5</span></label>
		  						<label><span class="contactsTag tagCol-06"><input type="checkbox">标签6</span></label>
		  						<label><span class="contactsTag tagCol-07"><input type="checkbox">标签7</span></label>
		  					</td></tr>
		  				</tbody>
		  				</table>
			  		</div>
					<div class="clientEntry">
		  				<table>
		  					<tbody><tr><th>单位</th><td><input type="text" value="四川华腾工程技术有限公司"></td></tr>
		  					<tr><th>性质</th><td class="cType"><label><input type="checkbox">设计单位</label>&nbsp;<label><input type="checkbox">咨询单位</label>&nbsp;<label><input type="checkbox">审核单位</label>&nbsp;<label><input type="checkbox">造价管理</label>&nbsp;<label><input type="checkbox">业主</label>&nbsp;<label><input type="checkbox">交通局</label>&nbsp;<label><input type="checkbox">公路局</label>&nbsp;<label><input type="checkbox">施工单位</label>&nbsp;<label><input type="checkbox">监理单位</label>&nbsp;<label><input type="checkbox">招标代理</label>&nbsp;<label><input type="checkbox">学校</label>&nbsp;<label><input type="checkbox">合作伙伴</label>&nbsp;<label><input type="checkbox">个人</label></td></tr>
		  					<tr><th>地区</th><td><select><option>四川</option></select><select><option>成都</option></select><select><option>南岸区</option></select></td></tr>
		  					<tr><th>传真</th><td><input type="text" value="0000-12345678"></td></tr>
		  					<tr><th>主页</th><td><input type="text" value="www.abc.com"></td></tr>
		  					<tr><th>部门</th><td><input type="text" value="造价部"></td></tr>
		  					<tr><th>职务</th><td><input type="text" value="科员"></td></tr>
		  					<tr><th>办公室</th><td><input type="text" value="13楼"></td></tr>
		  					<tr><th>地址</th><td><input type="text" value="四川省成都市锦江工业园区三色路163号银海芯座16f"></td></tr>
		  					<tr><th>乘车</th><td><input type="text" value="809到天环街下，马路对面坐199路到三色路永安路口下，前行100m"></td></tr>
		  					<tr><th>地标</th><td><input type="text" value="XXX大厦"> <a title="查看地图" href="#"><img src="img/map.png"></a></td></tr>
		  				</tbody></table>
			  		</div>
					<div class="clientEntry clearfix">
						<a href="" class="button btn-gray">取消</a>
						<a href="" class="button">确定</a>
					</div>
				</div>
				<div class="tabItem clentRecord hide">
					<div class="recordEntry">
						<ul>
							<li class="icon iconService">上门服务</li>
							<li>2013-9-01</li>
							<li>广东办<a href="#">刘飞</a></li>
							<li>
								1-给彭工更新了软件程序，安装演示了软。<br>
								2-单位彭工要考甲乙级考试，给他带了资料过去。<br>
								3-表示论文发表评职称也可以随时联系我。<br>
							</li>
						<ul>
					</div>
				</div>
			</div>
	</div>
</body>