<!DOCTYPE html>
<html lang=zh-cn> 
<head>
	<meta charset=utf-8> 
	<title>CLD.System</title> 
	<link rel="shortcut icon" href="images/favicon.ico"> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name=copyright content=smartcost.com.cn> 
	<link rel=stylesheet href=css/global.css>
</head>
<body>
	<div class="warpContent">
			<legend><a href="clientSearch.html" class="fR">返回搜索</a>通讯录</legend>
			<div class="tabList">
				<a class="now" href="clientDetail.html">客户信息</a><a   href="clientRecord.html">服务记录</a></a>
			</div>
			<div class="tabContent">
				<div class="tabItem clientList hide">
					<div class="clientEntry">
		  				<table>
		  				<tbody>
		  					<tr><th>姓名</th><td>张三</td></tr>
		  					<tr><th>性别</th><td>男</td></tr>
		  					<tr><th>昵称</th><td>X工</td></tr>
		  					<tr><th>手机</th><td>12345678910</td></tr>
		  					<tr><th>电话</th><td>0000-564645654</td></tr>
		  					<tr><th>QQ</th><td>12345678</td></tr>
		  					<tr><th>邮箱</th><td>123456@qq.com</td></tr>
		  					<tr><th>锁</th><td><a href="#">HNYH-0654</a><br><a href="#">DW-5465</a></td></tr>
		  					<tr><td colspan="2"><span class="contactsTag tagCol-01">标签1</span><span class="contactsTag tagCol-02">标签2</span></td></tr>
		  				</tbody>
		  				</table>
			  		</div>
					<div class="clientEntry">
		  				<table>
		  					<tbody><tr><th>单位</th><td><a href="#">四川华腾工程技术有限公司</a></td></tr>
		  					<tr><th>地区</th><td>四川,成都,南岸区</td></tr>
		  					<tr><th>传真</th><td>0000-12345678</td></tr>
		  					<tr><th>主页</th><td>www.abc.com</td></tr>
		  					<tr><th>部门</th><td>造价部</td></tr>
		  					<tr><th>职务</th><td>科员</td></tr>
		  					<tr><th>办公室</th><td>13楼</td></tr>
		  					<tr><th>地址</th><td>四川省成都市锦江工业园区三色路163号银海芯座16f</td></tr>
		  					<tr><th>乘车</th><td>809到天环街下，马路对面坐199路到三色路永安路口下，前行100m</td></tr>
		  					<tr><th>地标</th><td>XXX大厦 <a title="查看地图" href="#"><img src="img/map.png"></a></td></tr>
		  				</tbody></table>
			  		</div>
					<div class="clientEntry clearfix">
						<a href="" class="button">编辑</a>
					</div>
				</div>
				<div class="tabItem clentRecord">
					<div class="recordEntry">
						为<a>张三</a>添加记录
					</div>
					<div class="recordEntry">
						<div class="control-group">
						    <div class="controls">
							    <label class="radio">
							    	<input type="radio" name="1" checked>上门服务
							    </label>
							    <label class="radio">
							    	<input type="radio" name="1">电话拜访
							    </label>
							    <label class="radio">
							    	<input type="radio" name="1">其他
							    </label>
						    </div>
						  </div>
						  <div class="control-group">
						    <div class="controls">
						      <select><option>2013</option></select>
						    </div>
						  </div><div class="control-group">
						    <div class="controls">
						      <textarea style="width:90%" rows="5"></textarea>
						    </div>
						  </div>
					</div>
					<div class="recordEntry clearfix">
						<a href="#" class="button btn-gray">取消</a>
						<a href="#" class="button">确定</a>
					</div>
				</div>
			</div>
	</div>
</body>