<!DOCTYPE html>
<html lang=zh-cn> 
<head>
	<meta charset=utf-8> 
	<title>CLD.System</title> 
	<link rel="shortcut icon" href="images/favicon.ico"> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name=copyright content=smartcost.com.cn> 
	<link rel=stylesheet href=css/global.css>
</head>
<body>
	<div class="warpContent">
			<legend><a href="" class="fR">返回搜索</a>在线锁库</legend>
			<div class="clientEntry header clearfix">
				<table>
					<tbody>
						<tr><th>锁号</th><td>HNYH-0555</td></tr>
						<tr><th>产品</th><td>专业版+河南养护</td></tr>
						<tr><th>状态</th><td>总部<a href="">张少珊</a>收回</td></tr>
					</tbody>
				</table>
			</div>
			<div class="recordEntry">
				<div class="control-group">
				    <label class="control-label" for="inputEmail">记录类型</label>
				    <div class="controls">
					    <label class="radio inline">
					    	<input type="radio" name="1">借出
					    </label>
					    <label class="radio inline">
					    	<input type="radio" name="1">销售
					    </label>
					    <label class="radio inline">
					    	<input type="radio" name="1">升级
					    </label>
					    <label class="radio inline">
					    	<input type="radio" name="1">更换
					    </label>
					    <label class="radio inline">
					    	<input type="radio" name="1">收回
					    </label>
					    <label class="radio inline">
					    	<input type="radio" name="1">备注
					    </label>
				    </div>
				</div> 		
			</div>
			<div class="recordEntry">
			<!--添加记录-借锁-->
				<div class="control-group">
					<label class="control-label" for="inputPassword">借出客户</label>
					<div class="controls">
					  <input type="text">
					</div>
				</div>
			<!--添加记录-销售-->
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">销售客户</label>
			    <div class="controls">
			      <input type="text">
			    </div>
			  </div>
			<!--添加记录-升级-->
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">新增产品</label>
			    <div class="controls">
			      <select><option>河南养护</option></select>
			    </div>
			  </div>
			<!--添加记录-更换-->
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">新锁号</label>
			    <div class="controls">
			      <input type="text">
			    </div>
			  </div>
			<!--添加记录-备注-->
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">备注</label>
			    <div class="controls">
			      <textarea style="width:95%" rows="5"></textarea>
			    </div>
			  </div> 
			</div>
			<div class="recordEntry clearfix">
				<a href="#" class="button btn-gray">取消</a>
				<a href="#" class="button">确定</a>
			</div>
	</div>
</body>