<!-- include 'header' -->
<body>
	<div class="warpContent">
	<div class="login">
		<form id="loginform" name="loginform" action="/login/do" method="post">
			<legend>登录CLD.System<sup> 1.3</sup></legend>
			<div class="control-group">
              <label class="control-label">账号</label>
              <div class="controls">
                <input  class="text" type="text" name="user">
              </div>
		    </div>
			<div class="control-group">
              <label class="control-label">密码</label>
              <div class="controls">
                <input type="password" class="text" name="password">
              </div>
		    </div>
		    <div class="control-group">
              <div class="controls">
		   		 <input type="submit" value="登录" class="button">
              </div>
            </div>
		</form>
	</div>
	</div>
</body>