<!DOCTYPE html>
<html lang=zh-cn> 
<head>
	<meta charset=utf-8> 
	<title>CLD.System</title> 
	<link rel="shortcut icon" href="images/favicon.ico"> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name=copyright content=smartcost.com.cn> 
	<link rel=stylesheet href=css/global.css>
</head>
<body>
	<div class="warpContent">
		<legend><a href="clientSearch.html" class="fR">首页</a>通讯录</legend>
		<div class="clientEntry header">
			<table>
			<tbody>
				<tr><th colspan="2">纵横广东办</th></tr>
				<tr><th>员工</th><td>2</td></tr>
			</tbody>
			</table>
  		</div>
		<div class="clientEntry">
			<table>
			<tbody>
				<tr><th>姓名</th><td>刘飞</td></tr>
				<tr><th>性别</th><td>男</td></tr>
				<tr><th>办事处</th><td><a>广东办</a></td></tr>
				<tr><th>职位</th><td>经理</td></tr>
				<tr><th>手机</th><td>12345678910</td></tr>
				<tr><th>电话</th><td>0000-564645654</td></tr>
				<tr><th>QQ</th><td>12345678</td></tr>
				<tr><th>邮箱</th><td>123456@qq.com</td></tr>
			</tbody>
			</table>
  		</div>
		<div class="clientEntry">
			<table>
			<tbody>
				<tr><th>姓名</th><td>刘飞</td></tr>
				<tr><th>性别</th><td>男</td></tr>
				<tr><th>办事处</th><td><a>广东办</a></td></tr>
				<tr><th>职位</th><td>经理</td></tr>
				<tr><th>手机</th><td>12345678910</td></tr>
				<tr><th>电话</th><td>0000-564645654</td></tr>
				<tr><th>QQ</th><td>12345678</td></tr>
				<tr><th>邮箱</th><td>123456@qq.com</td></tr>
			</tbody>
			</table>
  		</div>
	</div>
</body>