<!-- include 'header' -->
<body>
	<div class="warpContent">
		<legend><a href="/" class="fR">首页</a>通讯录</legend>
		<div class="clientEntry">
			<table>
			<tbody>
				<tr><th>姓名</th><td>{{info.username}}</td></tr>
				<tr><th>性别</th><td>{{info.gender}}</td></tr>
				<tr><th>办事处</th><td><a>{{info.category}}</a></td></tr>
				<tr><th>职位</th><td>{{info.position}}</td></tr>
				<tr><th>手机</th><td>{{info.telephone}}</td></tr>
				<tr><th>电话</th><td>{{info.phone}}</td></tr>
				<tr><th>QQ</th><td>{{info.qq}}</td></tr>
				<tr><th>邮箱</th><td>{{info.email}}</td></tr>
			</tbody>
			</table>
  		</div>
	</div>
</body>